.players-menu {
    ul {
    	list-style: none;
    	padding: 0;
    	li {
            margin: 10px 0 0 10px;
    		display: inline-block;
    		border: 3px solid $siteMainColor;
    		padding: 3px;
    		color: $siteMainColor;
            font-weight: 600;
            cursor: pointer;
            text-transform: uppercase;
    	}
    }
}
