/* line 1, ../../sass/site/partials/_site-header.scss */
.site-header {
  height: 120px;
  background-color: #961432;
}

/* line 6, ../../sass/site/site.scss */
html, body {
  height: 100%;
}

/* line 10, ../../sass/site/site.scss */
html {
  font-size: 62.5%;
}

/* line 12, ../../sass/site/site.scss */
body {
  font-size: 1.4rem;
}

/* line 16, ../../sass/site/site.scss */
a {
  color: black;
}

/* line 20, ../../sass/site/site.scss */
a:hover, a:visited {
  text-decoration: none;
  color: black;
}

/* line 25, ../../sass/site/site.scss */
.site-content {
  margin: 10px 0;
}
