.article {
    margin-bottom: 10px;
    img {
        width: 100%;
        max-height: 200px;
    }
    h4 {
        color: #148094;
    }
    .date {
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        color: gray;
    }
}

@media only screen and (max-width: 992px) {
    .article {
        img {
            width: 100%;
            max-height: 400px;
        }
    }
}
