.admin-menu{
    background-color: #53C6A6;
    width: 100%;
    ul{
        li{
            a{
                border-radius: 0;
                background-color: #72C6AF;
                color: #fff;
                i {
                    margin-right: 5px;
                }
            }
            a:hover {
                background-color: #2C6A59;
            }
            ul{
                display: none;
            }
        }
    }
    
}