.players {
    //display: none;
    .add-player{
    	width: 100%;
    	float: left;
    	button{
    		padding: 5px 25px;
    		border-radius: 3px;
    		color: #fff;
    		margin: 5px 0;
    		border: 0;
    		background-color: #820F25;
    		outline: none;
    	}
    }
    a{
    	color: #0A5C45;
    	button{
    		padding: 5px 25px;
    		border-radius: 3px;
    		color: #fff;
    		float: right;
    		margin-right: 5px;
    		border: 0;
    		background-color: #820F25;
    		outline: none;
    	}
    }
    .list-group{
    	float: left;
    	width: 100%;
    }
}
