//output:index.html, pretty:true
doctype
html
  head
    title Index
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
    script(src="../node_modules/jquery/dist/jquery.js")
    link(rel="stylesheet", href="../css/site/site.css")
    link(rel="stylesheet", href="../css/pages/index.css")
  body
    div.container-fluid
    div.row
