/* line 1, ../../sass/Pages/team/partials/_player.scss */
.player {
  margin-bottom: 20px;
}
/* line 4, ../../sass/Pages/team/partials/_player.scss */
.player .pl-img {
  position: relative;
  overflow: hidden;
  height: 400px;
}
/* line 8, ../../sass/Pages/team/partials/_player.scss */
.player .pl-img img {
  position: absolute;
  display: block;
  width: 100%;
}
/* line 15, ../../sass/Pages/team/partials/_player.scss */
.player .pl-number {
  position: absolute;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: 2px solid #6E7882;
  top: 10px;
  left: 10px;
  font-weight: bold;
  border-radius: 50%;
}
/* line 27, ../../sass/Pages/team/partials/_player.scss */
.player .pl-info {
  border-bottom: 2px solid red;
}
/* line 29, ../../sass/Pages/team/partials/_player.scss */
.player .pl-info > div {
  text-align: center;
}
/* line 33, ../../sass/Pages/team/partials/_player.scss */
.player .pl-name {
  font-weight: bold;
  font-size: 1.8rem;
}
/* line 37, ../../sass/Pages/team/partials/_player.scss */
.player .pl-name {
  font-size: 1.4rem;
}

/* line 2, ../../sass/Pages/team/partials/_players-menu.scss */
.players-menu ul {
  list-style: none;
  padding: 0;
}
/* line 5, ../../sass/Pages/team/partials/_players-menu.scss */
.players-menu ul li {
  margin: 10px 0 0 10px;
  display: inline-block;
  border: 3px solid #2B5EA7;
  padding: 3px;
  color: #2B5EA7;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}

/* line 5, ../../sass/Pages/team.scss */
h1 {
  text-indent: 20px;
  text-transform: uppercase;
}

/* line 10, ../../sass/Pages/team.scss */
.site-content {
  background-color: #fafafa;
}
